<h1>BDAT1004 Final Assignment Page</h1>
<em>Please enter your GOOG high prediction</em>
<form menthod="POST", render_template>
    Name <input type="Text" name="name" />
    <br>
    <label for="Prediction">Prediction:</label><br>
    <input type="Number" id="prediction" name="prediction" />
    <br>
    <input type="submit" value="Submit">
</form>
<body>

<h1>This is a test</h1>
<p>Please don't hurt me</p>
<h3>Index</h3>
<a href="/google-charts/pie-chart">Pie Chart</a>
<a href="/google-charts/line-chart">Line Chart</a>
<a href="/">Graphs</a>
<a href="/raw">Raw Data</a>

</body>